<!doctype html>
<html lang="es">

<head>
  <title>Cursos PDO</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  <!-- Iconos de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

</head>

<body>

  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <div class="row">
          <div class="col-md-6">
            <strong>LISTA DE CURSOS</strong>
          </div>
          <div class="col-md-6 text-end">
            <button class="btn btn-success btn-sm" id="abrir-modal" data-bs-toggle="modal" data-bs-target="#modal-registro-cursos"><i class="bi bi-plus-square"> Agregar Curso</i></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm table-striped" id="tabla-cursos">
          <colgroup>
            <col width="5%">
            <col width="30%">
            <col width="25%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
          </colgroup>
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Nivel</th>
              <th>Inicio</th>
              <th>Inversión</th>
              <th>Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Agregar datos de prueba -->
            <tr>
              <td>1</td>
              <td>Curso de Autocad</td>
              <td>Administración</td>
              <td>B</td>
              <td>03/04/2023</td>
              <td>200</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>
                <a href="#" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Curso de Office</td>
              <td>ETI</td>
              <td>B</td>
              <td>05/05/2023</td>
              <td>260</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>
                <a href="#" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
            <!-- Fin datos de prueba -->
          </tbody>
        </table>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-primary btn-sm" id="actualizar">Actualizar Datos</button>
      </div>
    </div>
  </div>
  <!-- Fin de container -->


  <!-- Zona de Modales -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="modal-registro-cursos" tabindex="-1"  role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h5 class="modal-title" id="modalTitleId">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="mb-3">
              <label for="nombre-curso" class="form-label">Nombre Curso</label>
              <input type="text" class="form-control form-control-sm" id="nombre-curso">
            </div>
            <div class="mb-3">
              <label for="especialidad" class="form-label">Especialidad</label>
              <select id="" class="form-control form-control-sm">
              <option value="">Seleccione</option>
              <option value="ETI">ETI</option>
              <option value="Administración">Administración</option>
              <option value="Mecánica">Mecánica</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Complejidad</label>
              <select id="complejidad" class="form-control form-control-sm">
                <option value="">Seleccione</option>
                <option value="B">Básico</option>
                <option value="M">Medio</option>
                <option value="A">Avanzado</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="fechainicio" class="form-label">Fecha de inicio:</label>
              <input type="date" class="form-control form-control-sm" id="fechainicio">
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio:</label>
              <input type="text" class="form-control form-control-sm" id="precio">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-sm">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Optional: Place to the bottom of scripts -->
  <script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
  
  </script>
  <!-- Fin zona de modales -->

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>